<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    <h1><a href="{% url 'home' %}">Attendance Monitor System</a></h1>
    <br><br><br>
    <h1>login:</h1>
    <form action="">
        <input type="text" placeholder="enter your username" name='username' minlength='7' maxlength='10' required>
        <br>
        <input type="password" name='password' placeholder='enter your password here' minlength='8' maxlength='14' required>
        <br>
    </form>
    <button><a href="">login</a></button>
    <button><a href="{% url "emp_forgot_paswd" %}">forgot password?</a></button>
    <p>if you are new, please <button><a href="{% url 'emp_signup' %}">Register</a></button> here.</p>
</body>
</html>