<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1><a href="{% url 'home' %}">Attendance Monitor System</a></h1>
    <br><br><br>
    <h1>Sign Up</h1>
    <form action="">
        <input type="text" placeholder="enter your username" name='username' minlength='7' maxlength='10' required>
        <br>
        <input type="text" placeholder='enter your name' name='name' required>
        <br>
        <input type="email" placeholder='enter your email' name='email' required>
        <br>
        <input type="text" placeholder='enter your deaprtment name' name='department'required>
        <br>
        <input type="password" placeholder='enter your pasword' name='password' minlength='8' maxlength='14' required>
        <br>
    </form>
    <button><a href="">Register</a></button>
    <p>if you already have account <button><a href="{% url 'emp_login' %}">click here</a></button></p>
</body>
</html>