<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance monitoring system</title>
</head>
<body>
    <h1>Welcome, it's the index page of our website</h1>
    <h2>if you are an employee:</h2>
    <button><a href="{% url 'emp_login' %}">Login</a></button>
    <button><a href="{% url 'emp_signup' %}">SignUp</a></button>
    <br>
    <h2>if you are an manager:</h2>
    <button><a href="{% url 'manager_login' %}">Login</a></button>
    <button><a href="{% url 'manager_signup' %}">SignUp</a></button>
</body>
</html>