<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager SignUp</title>
</head>
<body>
    <h1><a href="{% url 'home' %}">Attendance Monitor System</a></h1>
    <br><br><br>
    <h1>Manager! please signup with your valid details here.</h1>
    <form action="">
        <input type="text" placeholder='enter your username here' name='username' required>
        <br>
        <input type="text" placeholder='enter your name here' name='name' required>
        <br>
        <input type="email" placeholder='enter your email here' name='email' required>
        <br>
        <input type="text" name="department" placeholder='enter your department name' required>
        <br>
        <input type="password" name="password" placeholder='enter your password here' required>
    </form>
    <p>If you already have account here please <button><a href="{% url "manager_login" %}">click here</a></button></p>
</body>
</html>